html, body {
    position: relative;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    overflow: hidden;
}



/*titleTop公共类*/
.titleTop {
    text-align: left;
    padding-top: 1.2rem;
    position: relative;
}

.titleTop > h3 {
    font-size: 0.5rem;
}

.titleTop > p {
    font-size: 0.3rem;
    margin-top: 0.2rem;
}

/*头部背景防止闪烁*/
.headerTop{
    background: #272822;
}

.swiper-containerW img {
    width: 100%;
    height: 100%;
}
.swiper-button-prev,.swiper-button-next{
    /*width: 0.92rem;*/
    /*height: 1.8rem;*/
    width: 0.64rem;
    height: 1.26rem;
    background: none;
}
.swiper-button-prev:hover{
    background:  url("../img/index/prev.png") no-repeat;
    background-size: 0.64rem 1.26rem;
    /*background-size: 0.92rem 1.8rem;*/
}
.swiper-button-next:hover{
    background:  url("../img/index/next.png") no-repeat;
    background-size: 0.64rem 1.26rem;
    /*background-size: 0.92rem 1.8rem;*/

}
.swiper-button-prev{
    left:1rem;
}
.swiper-button-next{
    right:1rem;
}
/*services 产品与服务*/
.services .titleTop > a {
    float: left;
    width: 1.09rem;
    height: 0.36rem;
    line-height: 0.36rem;
    border: 0.02rem solid #ff0000;
    border-radius: 0.17rem;
    font-size: 0.14rem;
    text-align: center;
    margin-top: 0.36rem;
}

.services .titleTop .describe {
    position: absolute;
    top: 1.25rem;
    right: 0;
    width: 7.4rem;
    line-height: 0.26rem;
    font-size: 0.16rem;
    letter-spacing: 1px;
}

.services .servicesIcon {
    width: 100%;
    margin-top: 1.8rem;
    padding: 0.2rem 0;
    perspective: 10rem;
    -webkit-perspective: 10rem;
}
.servicesIcon>div{
    float: left;
    width:20%;
    height: 1.14rem;
    /*transform: rotateY(0deg);*/
    /*-webkit-transform: rotateY(0deg);*/
    /*transition: transform 2s;*/
}
.servicesIcon>div:hover {
    cursor: pointer;
}

.icon-ani01{
    background: url("../img/index/icon-ani1.png") center center no-repeat;
    /*background-size:1.11rem 1.13rem;*/
    background-size:1.15rem 1.15rem;
}
.icon-ani01:hover {
    background: url("../img/index/icon-ani1.gif") center center no-repeat;
    background-size:1.15rem 1.15rem;
}

.icon-ani02{
    background: url("../img/index/icon-ani2.png") center center no-repeat;
    background-size:1.15rem 1.15rem;
    /*background-size:1.15rem 1.15rem;*/
}
.icon-ani02:hover {
    background: url("../img/index/icon-ani2.gif") center center no-repeat;
    background-size:1.15rem 1.15rem;
}
.icon-ani03{
    background: url("../img/index/icon-ani3.png") center center no-repeat;
    background-size:1.15rem 1.15rem;
    /*background-size:1.15rem 1.15rem;*/
}
.icon-ani03:hover {
    background: url("../img/index/icon-ani3.gif") center center no-repeat;
    background-size:1.15rem 1.15rem;
}
.icon-ani04{
    background: url("../img/index/icon-ani4.png") center center no-repeat;
    background-size:1.15rem 1.15rem;
    /*background-size:1.15rem 1.15rem;*/
}
.icon-ani04:hover {
    background: url("../img/index/icon-ani4.gif") center center no-repeat;
    background-size:1.15rem 1.15rem;
}
.icon-ani05{
    background: url("../img/index/icon-ani5.png") center center no-repeat;
    background-size:1.15rem 1.15rem;
    /*background-size:1.15rem 1.15rem;*/
}
.icon-ani05:hover {
    background: url("../img/index/icon-ani5.gif") center center no-repeat;
    background-size:1.15rem 1.15rem;
}

.iconAni{
    transform: rotateY(360deg) !important;
    -webkit-transform: rotateY(360deg) !important;
}


.servicesFoot {
    width: 10.3rem;
    padding: 0 0.85rem;
}

.servicesFoot .spot {
    position: relative;
    width: 0.17rem;
    height: 0.17rem;
    margin: 0 0.06rem;
    float: left;
    cursor: pointer;
}

.servicesFoot .spot i {
    position: absolute;
    top: 0.44rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 50%;
    transition: top 1.5s;
}


.servicesFoot .spot p {
    position: absolute;
    top: 1rem;
    font-size:0.2rem;
    left: -0.6rem;
    width: 1.4rem;
}

.servicesFoot .lines {
    float: left;
    width: 2.2rem;
    height: 0.5rem;
    border-bottom: 0.04rem solid #f00;
    border-radius:0;
    transition: border-radius 1.5s;
}

.iBounce{
    top:0.11rem !important;
}


.lineL{
    border-bottom-left-radius:50% !important;
}
.lineR{
    border-bottom-right-radius:50% !important;
}


/*solution 解决方案*/
.solution {
    background-color: #f2122b;
}

.solution .titleTop {
    color: #fff;
}

.solution .computer {
    height: 3.51rem;
    width: 100%;
    position: relative;
    color: #fff;
    margin-top: 1.3rem;
}

/*左边*/
.computer .title-l-1 {
    position: absolute;
    left: .18rem;
    top: .50rem;
    font-size: .30rem;
}

.computer .title-l-2 {
    position: absolute;
    left: .18rem;
    top: .90rem;
    font-size: .30rem;
}

.computer .more-l {
    position: absolute;
    width: 1.26rem;
    height: .40rem;
    border-radius: .20rem;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    line-height: .40rem;
    top: 2.52rem;
    left: .18rem;
}

.computer .more-l a {
    color: #000;
}

.computer .more-l:hover {
    background-color: #000;
}

.computer .more-l:hover a {
    color: #fff;
}

/*中间computer*/
.computer .total-computer {
    position: absolute;
    width: 6.13rem;
    height: 3.51rem;
    left: 50%;
    margin-left: -3.065rem;
}

.computer-1 {
    width: 6.13rem;
    height: 3.51rem;
    background-color: red;
    position: absolute;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    background: url('../img/index/computer1.png') no-repeat 0 0;
    background-size: 6.18rem 3.51rem;
}

.computer-2 {
    width: 3.065rem;
    height: 3.51rem;
    background-color: yellowgreen;
    background: url('../img/index/computer2.png') no-repeat;
    background-size: 6.09rem 3.51rem;
    position: absolute;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}

.line-l {
    position: absolute;
    height: .02rem;
    width: 3.65rem;
    background-color: #fff;
    top: 50%;
    left: -2.7rem;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}

.line-l::after {
    content: '';
    display: block;
    width: .10rem;
    height: .10rem;
    border: .02rem solid #fff;
    border-radius: 50%;
    position: absolute;
    right: -.12rem;
    top: -.05rem;
}

.computer-2:hover {
    width: 4.065rem;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}

.computer-2:hover .line-l {
    width: 4.65rem;
}

.line-r {
    position: absolute;
    height: .02rem;
    width: 3.65rem;
    background-color: #000;
    top: 50%;
    right: -2.7rem;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}

.line-r::after {
    content: '';
    display: block;
    width: .10rem;
    height: .10rem;
    border: .02rem solid #000;
    border-radius: 50%;
    position: absolute;
    left: -.12rem;
    top: -.05rem;
}

.computer-1:hover + .computer-2 {
    width: 2.062rem;
}

.computer-1:hover .line-r {
    width: 4.65rem;
}

/*右边*/
.computer .title-r-1 {
    position: absolute;
    right: .18rem;
    top: .50rem;
    font-size: .30rem;
}

.computer .title-r-2 {
    position: absolute;
    right: .18rem;
    top: .90rem;
    font-size: .30rem;
}

.computer .more-r {
    position: absolute;
    width: 1.26rem;
    height: .40rem;
    border-radius: .20rem;
    background-color: #000;
    text-align: center;
    line-height: .40rem;
    top: 2.52rem;
    right: .18rem;
}

.computer .more-r a {
    color: #fff;
}

.computer .more-r:hover {
    background-color: #fff;
}

.computer .more-r:hover a {
    color: #000;
}

/*classicCase 典型案例*/
.classicCase {
    background: #12171b;
}

.classicCase .titleTop {
    color: #fff;
    padding-top: 0.92rem;
}

/*.ulCase {*/
    /*margin-top: 0.3rem;*/
/*}*/

/*.li1 {*/
    /*background: url("../img/index/case-01.jpg") center center no-repeat;*/
/*}*/

/*.li2 {*/
    /*background: url("../img/index/case-02.jpg") center center no-repeat;*/
/*}*/

/*.li3 {*/
    /*background: url("../img/index/case-03.jpg") center center no-repeat;*/
/*}*/

/*.li4 {*/
    /*background: url("../img/index/case-04.jpg") center center no-repeat;*/
/*}*/

/*.li5 {*/
    /*clear: left;*/
    /*background: url("../img/index/case-05.jpg") center center no-repeat;*/
/*}*/

/*.li6 {*/
    /*background: url("../img/index/case-06.jpg") center center no-repeat;*/
/*}*/

/*.li7 {*/
    /*background: url("../img/index/case-07.jpg") center center no-repeat;*/
/*}*/

/*.li8 {*/
    /*background: url("../img/index/case-08.jpg") center center no-repeat;*/
/*}*/

/*.ulCase li {*/
    /*float: left;*/
    /*padding: 0.11rem;*/
    /*width: 2.77rem;*/
    /*height: 2.41rem;*/
    /*background-size: 2.77rem 2.41rem;*/
    /*transition: all 0.5s;*/
/*}*/

/*.ulCase li:hover {*/
    /*padding: 0.045rem 0.04rem;*/
    /*width: 2.91rem;*/
    /*height: 2.54rem;*/
    /*background-size: 2.91rem 2.54rem;*/
/*}*/

/*.ulCase li div {*/
    /*width: 2.77rem;*/
    /*height: 2.41rem;*/
    /*line-height: 2.41rem;*/
    /*font-size: 0.24rem;*/
    /*background: rgba(255, 255, 255, 0.8);*/
    /*cursor: pointer;*/
    /*transition: all 0.5s;*/
/*}*/

/*.ulCase li:hover div {*/
    /*width: 2.91rem;*/
    /*height: 2.54rem;*/
    /*line-height: 2.54rem;*/
    /*color: #fff;*/
    /*background: rgba(255, 147, 150, 0.8);*/
/*}*/



/*partners 合作伙伴*/
.dataResearch {
    background: #12171b url("../img/index/earth.png") bottom center no-repeat;
    background-size: 6.6rem 1.29rem;
}
.content {
    position: relative;
}

.list {
    margin-top: 1.2rem;
}

.list > div:nth-child(1) {
    margin-left: .8rem;
}
.list > div {
    margin-right: .22rem;
}

.view {
    width:2.45rem;
    height: 3.3rem;
    margin: .1rem;
    overflow: hidden;
    float: left;
}
.view figure {
    margin: 0;
    position: relative;
}
.view figure img {
    width: 2.45rem;
    height: 3.5rem;
    display: block;
    position: relative;
}
.view .thumb {
    overflow: hidden;
}
.view .mask {
    position: absolute;

    left: 0;
    bottom:0;
    width: 2.09rem;
    /*height: 2rem;*/
    padding: 0 0.18rem;
    background: rgba(212, 21, 30,.7);
    color: #ed4e6e;
}
.view .mask h2 {
    /*margin-left: .19rem;*/
    text-align: left;
    color: #fff;
    font-size: .16rem;
    padding: .13rem 0;
    border-bottom:1px dashed #fff;
}
.view .mask > div {
    text-align: left;
    margin: .11rem 0 0.4rem;
    color: #fff;
    font-size: .16rem;
}


.view-tenth figure {
    overflow: hidden;
}
.view-tenth figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}
.view-tenth figure:hover img {
    -webkit-transform: translateY(-.2rem);
    -moz-transform: translateY(-.2rem);
    -ms-transform: translateY(-.2rem);
    transform: translateY(-.2rem);
}
.view-tenth .mask {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
.view-tenth figure:hover .mask {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.view .title {
    position: absolute;
    top: 2.5rem;
    left: .18rem;
    font-size: .2rem;
    color: #ffffff;
    transition: all 0.4s;
    text-shadow: #0a0b0d 2px 2px 5px;
}
.view-tenth figure:hover .title {
    opacity: 1;
    transform: translateY(-1.9rem);

}

.knowMore {
    position: absolute;
    top: 1.2rem;
    right: .08rem;
    width: 0.85rem;
    height: 0.22rem;
    display: block;
    line-height: 0.22rem;
    border: .01rem solid #fff;
    border-radius: 0.2rem;
    font-size: .14rem;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.knowMore:hover {
    border: .01rem solid #d80c18;
    background-color: #d80c18;
    color: #fff;
}

.dataResearch .titleTop {
    color: #fff;
}

.report {
    margin-top: 1.2rem;
    padding-left: .8rem;
}

.report > div {
    float: left;
    position: relative;
    width: 2.45rem;
    height: 3.3rem;
    margin-right: .2rem;
    overflow: hidden;
    background-size: 2.45rem 3.3rem;
}
.report > div > div {
    position: relative;
    width: 2.45rem;
    height: 3.3rem;
    background-size: 2.45rem 3.3rem;
    transition: all .5s;
}
.report > div > span {
    position: absolute;
    left: .18rem;
    bottom: .6rem;
    font-size: .2rem;
    color: #ffffff;
    z-index: 2;
    transition: all .5s;
}

.report-1 {
    background: url("../img/index/data1.png");
}
.report-2 {
    background: url("../img/index/data2.png");
}
.report-3 {
    background: url("../img/index/data3.png");
}
.report-4 {
    background: url("../img/index/data4.png");
}
.report > div > span:hover {
    transform: translateY(-1.9rem);
}
.report > div > div:hover {
    transform: scale(1.1);
}



/*footer 尾部(联系我们)*/
.footer {
    background: url("../img/index/Bg-footer.jpg") center top no-repeat;
    background-size: 19.2rem 3.25rem;
}

.footer-top {
    padding-top: 0.94rem;
    color: #13171b;
}

.footer-top > span {
    font-size: 20px;
}

.footer-top > div:nth-child(2) {
    width: 3rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.18rem;
    padding: 0.08rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    background: #fff;
    border-radius: 0.28rem;
}

.footer-top > div:nth-child(2):hover {
    background-color: #d80c18;
    color: #ffffff;
    cursor: pointer;
}

/*中间部分开始*/
.footer-content {
    text-align: left;
    margin-top: 1.46rem !important;
}
