
.banner1 {
    margin: 1.25rem  0  1.3rem;
}
.banner1 img {
    width: 100%;
    height:5.24rem;
    margin: 0 auto;
}


.spreadserver {
    padding-bottom:1.5rem;
}
.spreadserver h3 {
    color: #d80c18;
    font-size: .3rem;
    padding-bottom: 1.8rem;
}

.spreadserver > div {
    float: left;
    width: 33.33333%;
    /*height: 200px;*/
}
.spreadserver > div > div {
    position: relative;
    width: 2.73rem;
    height: 2.7rem;
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 1.3rem .25rem 0 .35rem;
    /*box-shadow: 1px 1px 10px #dadada;*/
}
.spreadserver > div > div > i {
    width: 1.6rem;
    height: 1.6rem;
    background: no-repeat;
    background-size: 1.6rem 1.6rem;
    position: absolute;
    top:-.8rem;
    left: 50%;
    margin-left: -.8rem;
}
.spreadserver > div:nth-child(2) > div > i{
    background-image: url("../img/secondimg/icon-dataspread-1.png");
}
.spreadserver > div:nth-child(3) > div > i{
    background-image: url("../img/secondimg/icon-dataspread-2.png");
}
.spreadserver > div:nth-child(4) > div > i{
    background-image: url("../img/secondimg/icon-dataspread-3.png");
}

.spreadserver > div > div > h4 {
    font-size: .2rem;
    color: #d80c18;
    padding-bottom: .15rem;
}
.spreadserver > div > div > div {
    font-size: .16rem;
    line-height:.3rem;
}
